<% if(!index){ %>
  <div class="section"><div class="container">
<% } %>
<div class="card <% if(index) { %>card--hover<% } %>">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <%- partial('post/title', {class_name: 'article-title', date_format: 'DD/MM/YYYY'}) %>
      </div>
    </div>
    <%- partial('post/gallery') %>

    <div class="content">
      <% if (!index){ %>
        <%- post.content %>
      <% } else { %>
      <% post.tags.data.map(function(tag) { %>
        <span class="tag">
        <%- tag.name %>
      </span>
      <% }) %>
      <% } %>
    </div>
  </div>
</div>
<% if(!index) { %></div></div><% } %>