<footer class="footer">
  <div class="content has-text-centered">
    <p>
      2010-<%= date(new Date(), 'YYYY') %> &copy; <%= config.author || config.title %>, vulgo, <a href="https://github.com/lhas2" target="_blank">@lhas</a>.<br>
      <%= __('using') %> <a href="https://hexo.io" target="_blank">Hexo</a> <%= __('and') %> <a href="https://bulma.io" target="_blank">Bulma</a>.
    </p>
  </div>
</footer>