// https://github.com/chriskempson/tomorrow-theme
highlight-background = #2d2d2d
highlight-current-line = #393939
highlight-selection = #515151
highlight-foreground = #cccccc
highlight-comment = #999999
highlight-red = #f2777a
highlight-orange = #f99157
highlight-yellow = #ffcc66
highlight-green = #99cc99
highlight-aqua = #66cccc
highlight-blue = #6699cc
highlight-purple = #cc99cc
article-padding = 1
font-size = 17px
line-height = 1.25

code[class*="language-"], pre[class*="language-"]
  font-weight: normal !important

.number
  padding: 0 !important

$is-initial
  animation: none
  animation-delay: 0
  animation-direction: normal
  animation-duration: 0
  animation-fill-mode: none
  animation-iteration-count: 1
  animation-name: none
  animation-play-state: running
  animation-timing-function: ease
  backface-visibility: visible
  background: 0
  background-attachment: scroll
  background-clip: border-box
  background-color: transparent
  background-image: none
  background-origin: padding-box
  background-position: 0 0
  background-position-x: 0
  background-position-y: 0
  background-repeat: repeat
  background-size: auto auto
  border: 0
  border-style: none
  border-width: medium
  border-color: inherit
  border-bottom: 0
  border-bottom-color: inherit
  border-bottom-left-radius: 0
  border-bottom-right-radius: 0
  border-bottom-style: none
  border-bottom-width: medium
  border-collapse: separate
  border-image: none
  border-left: 0
  border-left-color: inherit
  border-left-style: none
  border-left-width: medium
  border-radius: 0
  border-right: 0
  border-right-color: inherit
  border-right-style: none
  border-right-width: medium
  border-spacing: 0
  border-top: 0
  border-top-color: inherit
  border-top-left-radius: 0
  border-top-right-radius: 0
  border-top-style: none
  border-top-width: medium
  bottom: auto
  box-shadow: none
  box-sizing: content-box
  caption-side: top
  clear: none
  clip: auto
  color: inherit
  columns: auto
  column-count: auto
  column-fill: balance
  column-gap: normal
  column-rule: medium none currentColor
  column-rule-color: currentColor
  column-rule-style: none
  column-rule-width: none
  column-span: 1
  column-width: auto
  content: normal
  counter-increment: none
  counter-reset: none
  cursor: auto
  direction: ltr
  display: inline
  empty-cells: show
  float: none
  font: normal
  font-family: inherit
  font-size: medium
  font-style: normal
  font-variant: normal
  font-weight: normal
  height: auto
  hyphens: none
  left: auto
  letter-spacing: normal
  line-height: normal
  list-style: none
  list-style-image: none
  list-style-position: outside
  list-style-type: disc
  margin: 0
  margin-bottom: 0
  margin-left: 0
  margin-right: 0
  margin-top: 0
  max-height: none
  max-width: none
  min-height: 0
  min-width: 0
  opacity: 1
  orphans: 0
  outline: 0
  outline-color: invert
  outline-style: none
  outline-width: medium
  overflow: visible
  overflow-x: visible
  overflow-y: visible
  padding: 0
  padding-bottom: 0
  padding-left: 0
  padding-right: 0
  padding-top: 0
  page-break-after: auto
  page-break-before: auto
  page-break-inside: auto
  perspective: none
  perspective-origin: 50% 50%
  position: static
  right: auto
  tab-size: 8
  table-layout: auto
  text-align: inherit
  text-align-last: auto
  text-decoration: none
  text-decoration-color: inherit
  text-decoration-line: none
  text-decoration-style: solid
  text-indent: 0
  text-shadow: none
  text-transform: none
  top: auto
  transform: none
  transform-style: flat
  transition: none
  transition-delay: 0s
  transition-duration: 0s
  transition-property: none
  transition-timing-function: ease
  unicode-bidi: normal
  vertical-align: baseline
  visibility: visible
  white-space: normal
  widows: 0
  width: auto
  word-spacing: normal
  z-index: auto
  all: initial
  all: unset

$code-block
  background: highlight-background
  margin: 0 article-padding * -1
  padding: 15px article-padding
  overflow: auto
  color: highlight-foreground
  font-size: font-size
  line-height: font-size * line-height
  font-family:  'TypoPRO Fira Code' !important

$line-numbers
  color: #666
  background: rgba(255,255,255,0.05)
  font-size: 0.95em
  padding-top: 0.15em
  margin-right: 0.5em

.article-entry
  .title
    font-size: initial
  
  .number
    @extend $is-initial

  pre, code
    font-family: font-mono
  code
    background: color-background
    text-shadow: 0 1px #fff
    padding: 0 0.3em
  pre
    @extend $code-block
    code
      background: none
      text-shadow: none
      padding: 0
  .highlight
    @extend $code-block
    pre
      border: none
      margin: 0
      padding: 0
    table
      margin: 0
      width: auto
    td
      border: none
      padding: 0
    figcaption
      clearfix()
      font-size: 0.85em
      color: highlight-comment
      line-height: 1em
      margin-bottom: 1em
      a
        float: right
    .gutter pre
      @extend $line-numbers
      text-align: right
      padding-left: 15px
      padding-right: 20px
    .line
      height: font-size * line-height
    .line.marked
      background: highlight-selection
  .gist
    margin: 0 article-padding * -1
    background: highlight-background
    padding: 15px article-padding 15px 0
    .gist-file
      border: none
      font-family: font-mono
      margin: 0
      .gist-data
        background: none
        border: none
        .line-numbers
          @extend $line-numbers
          background: none
          border: none
          padding: 0 20px 0 0
        .line-data
          padding: 0 !important
      .highlight
        margin: 0
        padding: 0
        border: none
      .gist-meta
        background: highlight-background
        color: highlight-comment
        font: 0.85em font-sans
        text-shadow: 0 0
        padding: 0
        margin-top: 1em
        margin-left: article-padding
        a
          color: color-link
          font-weight: normal
          &:hover
            text-decoration: underline

pre
  .comment
  .title
    color: highlight-comment
  .variable
  .attribute
  .tag
  .regexp
  .ruby .constant
  .xml .tag .title
  .xml .pi
  .xml .doctype
  .html .doctype
  .css .id
  .css .class
  .css .pseudo
    color: highlight-red
  .number
  .preprocessor
  .built_in
  .literal
  .params
  .constant
    color: highlight-orange
  .class
  .ruby .class .title
  .css .rules .attribute
    color: highlight-green
  .string
  .value
  .inheritance
  .header
  .ruby .symbol
  .xml .cdata
    color: highlight-green
  .css .hexcolor
    color: highlight-aqua
  .function
  .python .decorator
  .python .title
  .ruby .function .title
  .ruby .title .keyword
  .perl .sub
  .javascript .title
  .coffeescript .title
    color: highlight-blue
  .keyword
  .javascript .function
    color: highlight-purple
